[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "chalice local"
deploy = "chalice deploy"

[packages]
chalice = "*"
boto3 = "*"
"pymongo[srv]" = "*"
python-dotenv = "*"
moto = {extras = ["dynamodb"], version = "==4.2.13"}
pyjwt = "*"
mongomock = "*"
pinecone = "*"

[dev-packages]

[requires]
python_version = "3.12"
